[2016-05-17 18:30] kataras opened #2 "Suggestion support fasthttp"
Support for [fasthttp](https://github.com/valyala/fasthttp) will be appreciated, nice job, don't stop don't relax!

[2016-05-17 18:33] gavv commented on #2
Thanks.

This should be easy since we already have `Client` interface. I'll look at it.

[2016-05-18 04:04] kataras commented on #2
If you need any 'help' for conversions between net/http look iris's source code or ask here. When you finish it I will add it to iris' readme as the recommended way to run api tests :)

Thanks you, I'm waiting for this!

[2016-05-20 01:08] gavv commented on #2
@kataras

I've added [`fasthttpexpect`](https://godoc.org/github.com/gavv/httpexpect/fasthttpexpect) module which provides two kinds of integration with `fasthttp`:
* `ClientAdapter` - uses any `fasthttp` client to communicate with real server;
* `Binder` - invokes `fasthttp.RequestHandler` directly, so you don't need to start server at all.

Both implement `httpexpect.Client` interface which may

[2016-05-20 12:46] kataras commented on #2
@gavv Very good work, you're really fast thanks you, do you allow to PR the iris in the examples? it's less lines than echo's

[2016-05-20 13:07] gavv commented on #2
Why not, you're welcome.

[2016-05-20 13:22] kataras commented on #2
It's done, tests rans perfect but I didn't see really difference from other frameworks(bench=.) (normally Iris is far faster than this test shows) you have right, something happens with the Binder, maybe at the future you could improve that.

Thanks you again, you're awesome

[2016-05-20 15:03] gavv commented on #2
Good! I've added a link to examples section in README.

[2016-05-20 15:03] #2 closed

[2016-06-16 18:07] sofixa opened #6 "Response time?"
Hi there, great project!
I checked out your doc and examples and i didn't see anything, but maybe i've missed it - is there a way to get the response time for a request?

Cheers,
Adrian

[2016-06-17 12:17] gavv commented on #6
Currently, no. I can add it (I hope tomorrow) or you could send a PR.

I think we need:

[code]

and we can also print response time to log.

[2016-06-19 11:44] gavv commented on #6
Done, see [`Response.Time()`](https://godoc.org/github.com/gavv/httpexpect#Response.Time).

Example usage:

[code]

Example log output using `DebugPrinter`:

[code]

Time is measured using [`gavv/monotime`](https://github.com/gavv/monotime).

[2016-06-19 19:05] sofixa commented on #6
Wow, that was fast. Thanks a lot, i'll give it a try these days!

[2016-06-23 08:13] EtienneBruines opened #7 "Session support"
Hi!

First-off: awesome framework.

Secondly, I have noticed that there's no support for session/cookie-data?

I can login using

[code]

But on successive calls, the retrieved cookie is not being used. Seeing as most pages will require some kind of authentication, I would expect this feature to exist? (either now or in the future)

[2016-06-23 10:39] gavv commented on #7
Thanks for feedback.

You can already do this using non-default client with non-nil cookie jar, e.g.:

[code]

However, enabling cookies seems to be a common case, so I've added `httpexpect.DefaultClient()` which is used if the user didn't provide custom client.

Thus, cookies should work by default now. Could you check it?

Related: we also need cookie setter for request and cookie checker for re

[2016-06-23 11:12] EtienneBruines commented on #7
I have read your commit, and it looks very nice & promising - thank you for that.

As for the checking if it works: currently I'm using `httpexpect` together with `iris`, so it takes a little bit of searching where the `Jar` is defined there. (*if* it's even defined somewhere)

[2016-06-23 11:20] gavv commented on #7
Why are your looking for it in iris? AFAIK `cookiejar` is a client-side thing. See [`http.Client`](https://golang.org/pkg/net/http/#Client):

[code]

httpexpect now uses non-nil jar by default, so it's probably no need to use jar outside httpexpect at all. `http.Request` and `http.Response` should automatically use the jar.

[2016-06-23 11:22] EtienneBruines commented on #7
Well, following the example code, I defined this:

[code]

The client is thereby no `http.Client`, but a networkless wrapper (don't ask me why). So I'm looking into that. (btw, I'm also on https://gitter.im/kataras/iris in case you want to chat)

[2016-06-23 11:34] gavv commented on #7
I see now. Well, this is a problem, and currently there is no session support in networkless mode. I'll look what we can do.

As a workaround, you can temporary switch to network mode.

[2016-06-23 13:29] gavv commented on #7
I've added cookie jar support to networkless mode.

Unfortunately, API is not backward compatible:
* `fasthttpexpect` package was merged into `httpexpect` package to avoid circular imports
* `fasthttp` client adapter was removed (it seems to be quite useless)
* `fasthttp` handler adapter was renamed from `fasthttpexpect.Binder` to `httpexpect.FastBinder`

Finally, `httpexpect.Binder` and `httpexpe

[2016-06-23 13:56] gavv commented on #7
Also note that default cookie jar uses `golang.org/x/net/publicsuffix` and thus ignores cookies if request url is empty.

So don't forget to pass URL to `httpexpect.New` or `httpexpect.WithConfig`.

[2016-06-27 07:29] gosilent opened #8 "Can't read form value with iris(fasthttp)"
I edit iris test code from your example:

iris.go
[code]

iris_test.go
[code]

and I got the error

[code]

[2016-06-27 08:35] kataras commented on #8
Hello @gosilent can you try changing the
[code]

to:

[code]

and confirm that works?

[2016-06-27 08:37] kataras commented on #8
Hello @gosilent could you try changing the
[code]

to:

[code]

and confirm that works?

[2016-06-27 08:44] gavv commented on #8
@kataras, do you know what is the proper way to set fasthttp request body before passing it to iris?

There's probably an issue with `httpexpect.FastBinder` too. It currently uses `Request.SetBodyStream()` and I see that `ctx.FormValue()` called in iris handler returns empty string unless `ctx.PostBody()` is called before.

[2016-06-27 08:45] gavv commented on #8
Also there is probably an issue with `Content-Type` setting in `FastBinder` (I'll fix it).

[2016-06-27 08:50] gavv commented on #8
Yes, there are two bugs in `FastBinder`. `Request.SetBody()` works if uses properly. I'm preparing a fix.

[2016-06-27 09:04] gavv commented on #8
Fixes are merged.

@gosilent, your example should now work if you change:

[code]

to:

[code]

Your test expects a form, so you should return `key=value` instead of just `value`.

[2016-06-27 10:51] gosilent commented on #8
Yes, it passed the test 👍

[2016-06-27 10:52] gavv commented on #8
Great.

[2016-06-27 10:52] #8 closed

[2016-06-27 11:02] gavv commented on #6
I've renamed `Response.Time` to [`Response.Duration`](https://godoc.org/github.com/gavv/httpexpect#Response.Duration) to avoid confusion with response date/time support which I'm currently implementing.

Closing this, feel free to reopen if you encounter any problems.

[2016-06-27 11:02] #6 closed

[2016-06-27 14:54] gavv commented on #7
Cookie setter (for request) and inspector (for response) are now available too.

[2016-06-30 09:28] gavv commented on #7
`Binder` API is changed once more (but I'm preparing for stable release with frozen API).

See [this example](https://github.com/gavv/httpexpect#use-http-handler-directly):

[code]

`Binder` implements `http.RoundTriper` (backend for client) instead of `http.Client`, so that we can reuse `http.Client` code, including cookie jar support.

[2016-06-30 09:30] gavv commented on #8
@gosilent, `Binder` API is changed. See [this example](https://github.com/gavv/httpexpect#use-http-handler-directly):

[code]

[2016-06-30 15:01] gosilent commented on #8
@gavv ok! got it.

[2016-06-30 15:24] gavv commented on #7
I've added [example](https://github.com/gavv/httpexpect/blob/master/example/iris_test.go#L100) that uses iris sessions and works in networkless mode.

It works, so I'm closing this issue. Feel free to reopen.

[2016-06-30 15:24] #7 closed

[2016-06-30 21:34] EtienneBruines commented on #7
@gavv Thank you for your effort; your example looks nice.

I got it to compile in my `_test.go` file, yet running into a nil-pointer exception (in the Go `net/http`). Not sure where the error is yet; will edit this message when I know more.

[2016-06-30 21:50] gavv commented on #7
@EtienneBruines.

It seems to be an issue with redirects. Could you please open a new issue with this panic?

I'll try to reproduce it, but it will be great if you can also post a minimal example that reproduces the crash.

[2016-06-30 21:54] EtienneBruines opened #9 "e.POST panics on redirect"
Minimal example:

[code]

It seems that the `http.Client` panics whenever the server responds with a redirect, as a response to `POST`.

Example panic:

[code]

[2016-06-30 22:35] gavv commented on #9
Should be fixed in current `master` (not pushing to `v1` for now).

[2016-06-30 22:38] EtienneBruines commented on #9
Confirmed. Thank you @gavv for your awesome work :smile:

[2016-06-30 22:40] gavv commented on #9
Good.

/link #7

[2016-06-30 22:40] #9 closed

[2016-07-01 17:05] EtienneBruines opened #10 "Feature Request: not following redirects"
Hi!

Sometimes, I'd want to be able to "not follow" redirects, such as `http.StatusFound`. A lot of my pages are behind a login, and checking whether or not the page works, by saying `.expect(http.StatusOK)` would be misleading; since the server returned a `http.StatusFound` instead, and now redirected the client to the login page.

I'm currently using this workaround, but it's doesn't really feel

[2016-07-01 17:17] EtienneBruines commented on #10
Nevermind, this can be done by changing the `http.Client`:

[code]

I followed this [Stack Overflow](http://stackoverflow.com/questions/23297520/how-can-i-make-the-go-http-client-not-follow-redirects-automatically/38150816#38150816) question, but apparently, the answers were outdated.

Apologies for the fuss.

[2016-07-01 17:18] #10 closed

[2016-07-01 17:44] gavv commented on #10
Thanks for sharing this. I've also seen that question. Actually, `ErrUseLastResponse` seems to be the best answer :)

[2016-07-01 19:06] gavv opened #11 "Add fuzzy equal"
Suggested on reddit.

[2016-07-01 19:28] gavv opened #12 "Add a shorthand for setting single header for multiple requests"
Suggested on [reddit](https://www.reddit.com/r/golang/comments/4qrhjd/httpexpect_v1_released_endtoend_http_api_testing/d4vm0e9?st=iq44sczf&sh=c21eebd8):

[2016-07-02 02:34] kataras opened #13 "I have issue when testing subdomains"
Hello my friend, I have some issues when testing subdomains, the same time the browser returns status 200 ( with cleaned cache) the httpexpect returns 404, here is example code:

[code]

As you see I put a real server running & time.Sleep of 10 seconds in order to have time to test it on my browser, there the subdomain worked, at the tests it shows me:

[code]

Complete code:

[code]
[code]

When

[2016-07-02 08:14] gavv commented on #13
Thanks for reporting, I'll look at it.

BTW, are you using `api.Listen()` and `httpexpect.NewFastBinder()` at the same time? It's strange, because when you use default (nil) `Transport` for `http.Client`, it connects to server via http, so you need `Listen()`. But if you use `FastBinder`, it calls handler directly, so you don't need `Listen()`.

[2016-07-02 08:19] kataras commented on #13
Yes I though that too, but it gives 404 again :/

[2016-07-02 08:41] gavv opened #14 "Add JSONP support"
Suggested in #13.

[2016-07-02 08:43] gavv commented on #13
What about `.XML()`, it requires some research. I'm not very familiar with XML, but I guess current assertions (value, object, array, string, number, boolean) are not enough.

[2016-07-02 09:00] gavv commented on #13
Another note: currently `Request()`, `GET()`, `POST()`, etc. assume that user passed *unescaped path*, not an url (which is escaped by definition). This path is stored into `http.Request.URL.Path`, and so is escaped when `url.String()` is called.

So strictly speaking it's incorrect to use `GET(host+path)` with current API. We probably want a better API for subdomain support.

[2016-07-02 09:24] kataras commented on #13
Yes I had this issue before, take a look at the iris code base for both questions (xml  on context and how I handle subdomains on http.go->muxServe->ServeRequest)

[2016-07-02 14:40] kataras opened #15 "Add WithXML"
like `WithForm/WithJSON`

[2016-07-03 05:57] gosilent opened #16 "Get empty body when test static file with fasthttp"
hi~

I write some simple code to check this issue.

fileserver.go
[code]

fileserver_test.go
[code]
test report:

[code]

http code 200
So the file exist, but content is empty.
But actually there have a simple string "static" in that file.

[2016-07-03 10:45] gavv commented on #16
Thanks for reporting.

Looks like a bug in fasthttp. I've sent a PR, waiting for response from them now.

[2016-07-03 11:31] gosilent commented on #16
hey, do you have the same issue?
I delete the $GOPATH/src directory, and download all package again, then I can passed the test.
I don't know what happened, maybe some packages are not the newest version.
anyway, I passed the test now.

[2016-07-03 11:55] gavv commented on #16
Great that you caught it!

The bug is no longer reproduced with fresh `valyala/bytebufferpool` (I think [this commit](https://github.com/valyala/bytebufferpool/commit/21a4b2115581cdabcc9cd97b1624d56785fc407e)). I'll update the PR.

[2016-07-03 12:19] kataras opened #17 "Chat community"
Hello @gavv , can you create a chat room at https://gitter.im ? I think it will be nice to have a community near you, it's easy just register and press Add Room, from repository, select the gavv/httpexpect, give some permissions to the app and you're ready, I have to ask you somethings also :)

add these to your readme after create the room:

[code]

[2016-07-03 12:22] gavv commented on #16
The bug in fasthttp no longer affects httpexpect, so closing this.

[2016-07-03 12:22] #16 closed

[2016-07-03 12:24] gavv commented on #17
It's already exist :) See first line in README.

[2016-07-03 12:24] #17 closed

[2016-07-03 12:27] kataras commented on #17
Lawl, I searched for it but I didn't found it.. my eyes are broken, sorry then :)

[2016-07-03 14:47] #14 closed

[2016-07-03 16:06] #11 closed

[2016-07-03 17:21] gavv commented on #15
If we're adding xml builder (`WithXML`), which is trivial, we should also add xml assertions, which is not so trivial.

We currently have assertions designed for JSON types (value, object, array, string, number, boolean, null). I guess they're not sufficient for XML. E.g., XML can't be decoded into map, so we can't use `Object`. Also, XML nodes has attributes, namespaces, etc.

I'm not familiar wi

[2016-07-04 07:49] gavv commented on #12
You can now do the following:

[code]

See ["Reusable builders"](https://github.com/gavv/httpexpect#reusable-builders) example.

[2016-07-04 07:49] #12 closed

[2016-07-04 08:10] gavv commented on #13
@kataras

1. We now have `Request.WithURL()`.

    While `e.GET()`, `e.POST()`, etc. accept *path*, `WithURL` may be used to overwrite `BaseURL` to single request. Path is appended to this URL.

2. We now have [reusable request builders](https://github.com/gavv/httpexpect/#reusable-builders).

    You can do the following to avoid writing `WithURL` for every request:

[code]

3. [Iris example](htt

[2016-07-04 09:55] kataras commented on #13
That's excellent nice, I can continue testing now!!  thanks for updating iris example also, and about the commit, you have to make a pull request in order to be combined with iris-contrib/tests

[2016-07-04 10:07] gavv commented on #13
OK.

[2016-07-04 10:31] kataras commented on #13
Just to verify, the subdomain with builder works perfect!

[2016-07-04 10:32] gavv commented on #13
Good.

[2016-07-04 10:32] #13 closed

[2016-07-06 10:45] kataras opened #18 "Cookies Question or bug"
[code]

[2016-07-06 10:54] gavv commented on #18
`Cookies()` returns a list of cookies from `Set-Cookie` headers of *current* request.

httpexpect *does* keep cookies from previous requests, but they are not available through `Cookie()` and `Cookies()` methods. The logic behind that is that these methods are request assertions, not session assertions, so they return request cookies, not session cookies.

Session cookies from previous requests ar

[2016-07-15 07:23] gavv commented on #18
Closing, feel free to reopen.

[2016-07-15 07:23] #18 closed

[2016-08-09 12:39] phifty opened #20 "Proposal: Use testing.TB instead of *testing.T"
Currently, the constructor `httpexpect.New` takes an `*testing.T`. Using the interface `testing.TB` would make it possible to use the package in benchmarks too.

Cheers

[2016-08-09 17:56] gavv commented on #20
Hi, thanks for reporting.

I've added `LoggerReporter` interface which is a subset of `testing.TB`. It's now used in `New`.

[2016-08-10 08:01] phifty commented on #20
Great! Thanks for the fast response/fix. Seems to work.

[2016-08-10 08:01] #20 closed

[2016-08-12 18:19] acidvertigo opened #21 "How to use fastbind with HTTPS"
I'm tiring to test a https only server on fasthttp (http request will be redirect to https). I'm following the iris example.

My handler look like this:
[code]

But when i use:
[code]

I get 10 redirect from http to https page and test fail.

On normal browser the redirect from http uri to https uri works well without cycling redirect.

Is possible to test fasthttp request on https?

[2016-08-12 19:13] acidvertigo commented on #21
**UPDATE** I found that the code that redirect from http to HTTPS in default wrapper does not recognize the ssl connection:

[code]
so also if httpexpect call the  correct https address the function ctx.IsTLS() is always false

[2016-08-14 11:43] gavv commented on #21
Thanks for reporting, I'll look at it.

[2016-08-14 14:09] gavv commented on #21
Automatic HTTP to HTTPS redirection works when using standard http transport, I've added a few tests (see commits linked above). So if it's an option, you could just use standard transport instead of binder.

There are two issues with current `Binder` and `FastBinder` implementation:

1. Currently there is no way to have separate handlers for HTTP and HTTPS with binders. Though, user can easily im

[2016-08-15 14:04] acidvertigo commented on #21
Thank you for your answer. I'm using fastbinder  because I'm developing an HTTPS only webapp with fasthttp and fasthttp-routing router.

I have tried to make this work changing the transport function with this code:
[code]

This so far works, but don't know if it is a good solution.

I think that a tls.Config solution can be a good choice.

[2016-08-15 19:04] gavv commented on #21
Usually yes. Actually you need binder only when you want to test separate HTTP handlers. If you're testing the whole application, standard HTTP transport is preferred, since this way tests are as close as possible to real-world scenario.

OK, so most likely we need to mock `tls.Conn` and `tls.ConnectionState` from `tls.Config`. Sounds reasonable. I'll think about it and keep this issue open.

[2016-08-15 19:10] gavv commented on #21
@acidvertigo

Just in case you don't know, you can use [`net/http/httptest`](https://golang.org/pkg/net/http/httptest/). This server runs your http or https handler on temporary port, and it's stoppable, which makes it very handy for tests. It's used in commits linked above.

[2016-08-16 08:28] acidvertigo commented on #21
Thank you. I'll give a try.

[2016-08-18 14:22] banux opened #22 "Allow JSON vendor content type"
Hi,

We use some JSON vendor content type like "application/vnd.odl.status.1-0+json".
But it failed because the getJSON check only for "application/json".

I can work on a PR if you consider it a bug.

Regards

[2016-08-18 15:31] gavv commented on #22
Hi,

The feature sounds reasonable and pull requests are welcome!

Some thoughts.

Except `JSON`, we also have `JSONP`, `Form`, and `Text`. I think we should upgrade all of them for consistency.

I see four ways to implement this without breaking compatibility:

1. Add four new functions, e.g. `JSONWithContentType`, `FormWithContentType`, etc. But this clutters the API.

2. Add optional argument f

[2016-09-27 11:09] gavv commented on #21
I finally came up with a simple solution. Both `Binder` and `FastBinder` support mocking of `tls.ConnectionState` with a value provided by user. E.g., if `FastBinder.TLS` is set, `ctx.IsTLS()` will return true, and `ctx.TLSConnectionState()` will return `FastBinder.TLS`.

I'm closing this, but feel free to reopen.

[2016-09-27 11:09] #21 closed

[2016-10-23 01:45] JamesMura opened #26 "Prevent example dependencies from being vendored along side github.com/gavv/httpexpect"
When you try to install github.com/gavv/httpexpect in a vendor folder most tools with install all the recursive dependencies , even dependencies for packages only used for the examples , hence you get lots of packages in your vendor folder that you don't need to use the tool. Not sure how to get around this on my end , but some projects prefix the example folder with an underscore so that it is ig

[2016-10-23 02:37] kataras commented on #26
Let me fix it

[2016-10-23 02:44] kataras commented on #26
Reference: https://github.com/gavv/httpexpect/pull/27 . Thanks!

[2016-10-25 17:22] gavv commented on #26
@JamesMura What package manager(s) are you using?

[2016-10-25 17:25] JamesMura commented on #26
I am using gb https://getgb.io/

[2016-10-25 18:03] gavv commented on #26
I've renamed `example/` to `_examples/`. It should work at least with `gb` and `glade`.

`gb` is now happy with the following dependencies:

[code]

[2016-10-26 20:42] gavv commented on #26
Closing this, feel free to reopen.

[2016-10-26 20:42] #26 closed

[2016-11-29 11:52] lstep opened #29 "Cannot import httpexpect"
When getting the package, I get the following error :
[code]
I'm using Go `v1.7.3` on `linux/amd64`.

[2016-11-29 11:56] lstep commented on #29
I erased all traces of it in my local packages and then reinstalled, it worked. Strange...

[2016-11-29 11:56] #29 closed

[2016-11-29 11:57] gavv commented on #29
I guess you had an outdated version of [testify](https://github.com/stretchr/testify).

[2017-01-08 00:59] mattes opened #33 "yudai/gojsondiff breaking changes"
This commit (https://github.com/yudai/gojsondiff/commit/7b1b7adf999dab73a6eb02669c3d82dbb27a3dd6) broke httpexpect:

[code]

[2017-01-08 06:34] #33 closed

[2017-01-08 06:49] gavv commented on #33
Thanks for reporting.

[2017-01-10 19:58] gavv opened #35 "Unify and improve error reporting"
* **Unify error formatting**

   Currently, every component do its own error message formatting. Instead, all of them should fill a struct with error info and pass it to error formatter, which will format it as text and pass to error reporter. The user can provide their own error formatter.

* **Improve error messages**

   The error message should include:

    - pretty-printed request
    - pret

[2017-01-11 08:30] gavv commented on #35
This would break API (the error reporter will be replaced with error formatter), so moving to v2.

[2017-01-11 10:26] gavv opened #36 "Looking for feedback for upcoming httpexpect.v2"
### Problems with current API

The big problem with current API is that it's totally unclear from the source code what is the type of every object in a chained call.

Here is an example:

[code]

Actually there are two kind of methods: ones that return the method receiver, and ones that return a new object for a nested value. However, it's hard to recognize what is the kind of a given method, and

[2017-01-11 10:38] gavv commented on #22
Moved to v2. In v2 we can add this without bothering about compatibility.

[2017-01-11 13:36] gavv opened #37 "The order doesn't matter"
Ensure that in new `v2` API (#36) the order of statements at the same nesting level doesn't matter when:

* building request
* inspecting response

[2017-01-11 14:49] kataras commented on #36
Hello @gavv nice to see that you see the future of this library, but I will prefer that you shouldn't 'kill' the Builder pattern you have made so far, you can just put an interface  with Response() or/and Request() or Object() to 'go back' to the previous builder, because the func(hr *hx.Response) doesn't seems to be a good idea for a testing library like this, you should target the ease-of-use

[2017-01-11 18:34] mattes commented on #36
I absolutely love the current testing style. It's the main reason why we use this lib. Tests are fast and very readable.

[2017-01-22 06:16] gavv commented on #36
@kataras

Note that the new API still uses the builder pattern. The only change is that it uses nested assertions for nested objects.

I think it'll make the user code too magical.

@mattes

I understand that brevity is an important feature of httpexpect. However, clarity is probably even more important, and it's missing currently.

Suggested API will preserve the current style as much as possible

[2017-01-22 07:38] kataras commented on #36
@gavv I totally feel you, it is impossible to change your mind right now, if you have an idea, just do it, I'll still support and use this library :)

[2017-02-24 07:53] zyfdegh opened #38 "Example build failed due to missing package"
Well, `_example/iris.go` has some problem now. I can no long build or test it.

[code]

And `go get github.com/iris-contrib/middleware/basicauth` failed, because package `github.com/iris-contrib/middleware/basicauth` no longer exist in [iris-contrib/middleware](https://github.com/iris-contrib/middleware).

[code]

So, would you please check and take time to fix this?  @kataras

BTW, I run on Linux

[2017-02-24 11:31] kataras commented on #38
Oh yes, I have forked it and fix it but didn't push the PR, wait for fix in the next minutes please

[2017-02-24 11:56] kataras commented on #38
Done, https://github.com/gavv/httpexpect/pull/39

[2017-03-28 06:46] gavv commented on #38
Thanks for reporting and sorry for delay. Fixed.

[2017-03-28 06:46] #38 closed

[2017-05-12 10:00] tw1t611 opened #41 "echo.v3 testing middleware not as group"
Hey, I am testing a echo.v3 handler.
It's the login example as you posted in your project.
I did everything equally, but I get an Unauthorized response.
The token, names and password are equal on any place in the code.
The example works on postman.
Maybe I got this issue for not calling the middleware as group?
testCreate (not restricted function) works fine.

[code]

Here is the test code
[code]

[2017-05-31 16:40] #41 closed

[2017-07-25 18:59] aleus opened #42 "How integrate with goconvey?"
I want to use the best features of both best test-frameworks: [goconvey](https://github.com/smartystreets/goconvey) and [httpexpect](https://github.com/gavv/httpexpect). But both frameworks use its own print format. Does anybody have example of integrate httpexpect in goconvey.

[2017-08-18 08:12] ybbus opened #43 "WithHandler()"
Hi.

Would be great for convenience if there is somehwere a call like WithHandler() or UsingHandler() so you just can provide a handler function to test.

Or is there some way to do this with some of the NewXXX() calls?

So you do not have to go through the whole &Client{ Transport: ... stuff every time if you are testing a lot of handlers.

[2017-08-20 06:45] gavv commented on #42
Hi,

httpexpect always uses these interfaces to print anything:

[code]

You can provide your own implementation using corresponding `Config` fields. I didn't gouse convey, but I guess you could just implement these interfaces using convey.Print*.

It's enough to implement just Printer and Reporter, however if you want to reuse default httpexpect printers formatting (CompactPrinter, DebugPrinter,

[2017-08-20 07:25] ybbus commented on #36
I just can support mattes and ghost's comment.

The old way looks much more readable.

Maybe you could add methods like AND() so you can go back from an expect chain and do another expect like:

Json().Contains("abc").Contains("def").And().Status(200)?

[2017-08-20 07:31] ybbus opened #44 "Expectation Builder also for responses"
Hi.

At the moment using httpexpect I do the following when my test are quite similar:

beforeEach() {
  defaultExpectation := test.Get("/somePath").Header("AlwaysSet", "true")
}

So all tests are using this as base and they differ in some stuff like body or return expectations.

But I also have many tests where the response is is often equal in some parts.

E.g. the response should always have a

[2017-08-20 07:50] ybbus commented on #44
What I also noticed:
Without setting the method, you are not able to set anything else.

So if a want to prebuild an expectation, where the method differs, but for example the auth header should always be set, I cannot do this.

Maybe you could get inspired by my http mock server I just build some days ago (so it is pretty pretty alpha).
https://github.com/ybbus/httpmockserver/blob/master/request_

[2017-08-20 08:02] gavv commented on #43
Hi, added this to the latest master.

Example: https://github.com/gavv/httpexpect#per-request-client-or-handler

Documentation:
https://godoc.org/github.com/gavv/httpexpect#Request.WithClient
https://godoc.org/github.com/gavv/httpexpect#Request.WithHandler

[2017-08-20 09:20] ybbus commented on #43
Great! Thanks.

[2017-08-20 09:20] #43 closed

[2017-08-20 15:00] aleus commented on #42
Thaks. I'll try and I'll say about results.

[2017-08-21 06:25] ybbus commented on #42
@aleus I am very interested in the results and the setup. Since I also use Convey. Thanks

[2017-08-25 06:13] ybbus commented on #44
Hi.
Sorry my bad. This seems to work fine using the Builder()

Greetings,
Alex

[2017-08-25 06:43] ybbus commented on #44
Nope doesn't. Since EXPECT() triggers the request you cannot predefine response expectations without triggering the request.

[2017-08-25 06:57] ybbus commented on #44
I think now I get it:

You can either prebuild a expectation using a method like PUT(), GET() etc... But then without EXPECT() since this would trigger the request directly.
Like:
[code]

Or you can use the Builder() even with expect, but then you cannot prebuild the method GET / POST etc since the builder is directly exectued on this method.
Like:

[code]

So you cannot have both:
Preparing a Met

[2017-09-12 04:31] Chyroc commented on #15
+1

[2017-10-20 06:02] sunanxiang opened #45 "Why don't have Beego?"

[2017-10-20 06:03] #45 closed

[2017-10-21 19:11] gavv commented on #36
Well, no one supported the idea of the new API for quite a long time, so I think I should not break compatibility for solving problems that are not critical for real users.

If this will ever happen, it's likely should be a separate library.

Closing this for now :)

[2017-10-21 19:11] #36 closed

[2017-10-21 19:13] gavv commented on #37
See #36.

[2017-10-21 19:13] #37 closed

[2017-12-02 16:35] dinfer opened #46 "[Bug] ctx.Init2 undefined"
I'm using `dep` to install `gopkg.in/gavv/httpexpect.v1`. When I run my test, `httpexpect` itself reports a bug, and cannot be compiled.

[code]

here is my `dep status`

[code]

[2017-12-03 04:09] gavv commented on #46
Hi,

You have a quite outdated version of github.com/valyala/fasthttp. The error is reproduced on v20160617, but everything is ok on master.

[2017-12-03 05:01] dinfer commented on #46
OK, I'm will have a try to update it.

[2017-12-04 03:11] dinfer commented on #46
As you said, it's the version problem. Thansk very much.

I use `glide` instead of `dep` because of GFW. all problems are resovled.

[2017-12-04 03:11] #46 closed

[2017-12-21 08:56] ybbus opened #47 "Please use semver tagging"
See: http://semver.org/

Helps a lot when using go package management tools like https://github.com/golang/dep

Thanks

[2018-01-30 21:33] sjlee opened #48 "switching to PaesslerAG/jsonpath"
We love `httpexpect`, and are using it in our project. However, currently `httpexpect` depends on `github.com/yalp/jsonpath` which does not come with a license. From a legal standpoint, this is a big red flag, and we need a solution for us to be able to use `httpexpect`.

Someone raised this issue directly on the `jsonpath` repo (https://github.com/yalp/jsonpath/issues/3), but there has been no mo

[2018-01-30 21:56] sjlee commented on #48
I added a PR that addresses this. Could you please review, and merge it if it is acceptable? Thanks!

[2018-02-05 13:45] xwinie commented on #35
I expect have summary report page.

[2018-02-07 22:15] gavv commented on #47
Hi, sorry for delay.

httpexpect currently uses `v<NUMBER>` branches for stable versions that provide backward compatibility (actually there is only one version currently, v1).

Could you clarify what is the problem with go dep? Does it require minor and patch versions to be present? Or does it require tags instead of branches?

[2018-02-12 14:27] ybbus commented on #47
Hi.
Yes, go dep needs major minor and patch as described by semver.org.
Many go-libraries already use this convention. This makes it easy to do somce kind of versioning / version selection in dependency management tools like go dep.

The rules a quite simple:
MAJOR version when you make incompatible API changes,
MINOR version when you add functionality in a backwards-compatible manner, and
PATCH v

[2018-02-19 09:39] yalp commented on #48
I just added a license to the https://github.com/yalp/jsonpath project. Sorry for the delay...

https://github.com/yalp/jsonpath/issues/3#issuecomment-366633733

[2018-02-20 17:49] sjlee commented on #48
Thanks @yalp! Greatly appreciated.

@gavv, what are your thoughts on proceeding? It sounds like @yalp is indicating one should use https://github.com/PaesslerAG/jsonpath going forward (https://github.com/yalp/jsonpath/blob/master/README.md).

[2018-03-01 09:56] tyranron commented on #42
At the moment I'm doing the following trick

1) Reporter that causes GoConvey assertion fail:
[code]

2) Printer that causes GoConvey assertion success:
[code]

3) Using it:
[code]

As the result I have one success GoConvey assertion for every request that has response and if some httpexpect assertion fails it generates GoConvey failure assertion.

@gavv is it possible to dig somehow into httpexpe

[2018-03-28 08:24] tyranron opened #50 "WebSocket support"
It would be nice to have one for testing WS connections.

[2018-05-11 04:29] smthpickboy commented on #47
Russ Cox's new vgo proposal also adopts semver. Would be really good for httpexpect to use it.

[2018-06-22 08:57] ybbus commented on #47
Hi.
This discussion is open for half a year and it is just about tagging a release in a golang / semver compatible way. vgo is now available for evaluation and also uses semver for dependency management...

[2018-07-10 08:18] michael2008 opened #52 "Cookie validation should support MaxAge too"
Currently, the `httpexpect` checks cookie expiration time like this:

[code]
which is not compatible with rfc standards.

`Expires` in the cookie is obsolete and should be replaced with `MaxAge`. Only IE 8 and below still identifies only `Expires`, while most browsers can interpret both `Expires` and `MaxAge`.

So I am wondering if the `func (c *Cookie) Expires()` can checks both `Expires` and `Ma

[2018-07-29 12:57] gavv commented on #48
We could switch but we should solve the compatibility issues first.. See my comment at #49.

[2018-08-22 20:52] lpar opened #53 "Object o1.Equal(Object o2) behavior is surprising"
o1 := httpexpect.NewObject(t, map[string]interface{}{"foo": 123})
	o2 := httpexpect.NewObject(t, map[string]interface{}{"foo": 123})
	o1.Equal(o2)

Based on the documentation for Object.Equal, I would have expected this test to pass, but it doesn't. You need to do `o1.Equal(o2.Raw())` instead.

[2018-09-27 06:09] rimantoro opened #54 "Code Coverage is Always 0%"
Hi,

I'm using Echo framework and unable to get the code coverage from go test command (with options of course ).

This test is not in the same package from its functional package. I.e : the main functional package is ```handlers``` but package fot test is ```tests```.

Is it this package is currently unable to produce code coverage, or actually I'm doing wrong on my test ?

This is sample of my p

[2018-10-04 12:39] rimantoro commented on #54
Sorry, its not related with this repo but the Go it self.

Coverage cannot be reported within Go 1.10,  you need to upgrade to 1.11 or down grade to 1.9.

https://github.com/golang/go/issues/25093

[2018-10-04 12:39] #54 closed

[2018-11-09 23:08] ybbus commented on #47
no plans to provide a semver compatible tag?
go mod is out and also using it

[2019-04-18 09:15] gavv commented on #47
Hi, sorry for delay. I finally have some time for this project again.

Thanks for your explanation. I've added the v1.0.0 tag and added a note to the README:

Closing this fow now, feel free to reopen if I missed something.

[2019-04-18 09:15] #47 closed

[2019-04-18 09:25] gavv commented on #42
@tyranron currently there is no single entry point for every assertion. To accomplish that, one need to patch all the code and register every issued assertion in somewhere. I guess we could just extend the Reporter interface with a Success() method and call this method from every check in httpexpect. It would be quite a large patch though the changes would be mechanical.

[2019-04-18 12:30] gavv commented on #52
I've added [Cookie.MaxAge](https://godoc.org/github.com/gavv/httpexpect#Cookie.MaxAge) method along with the new [Duration](https://godoc.org/github.com/gavv/httpexpect#Duration) type to the master branch.

I didn't touch the old Expires() method to keep backwards compatibility.

[2019-04-18 12:30] #52 closed

[2019-04-18 13:45] gavv commented on #53
Thanks for reporting. I've updated comments for this and other similar methods.

[2019-04-18 13:45] #53 closed

[2019-04-18 14:58] gavv commented on #22
I've added an optional ContentOpts argument to Text(), Form(), JSON(), and JSONP() methods, which allows to match non-default media type and/or charset.

[2019-04-18 14:58] #22 closed

[2019-04-18 16:38] gavv commented on #44
I've added support for reusable response matchers:

* https://godoc.org/github.com/gavv/httpexpect#Expect.Matcher
* https://godoc.org/github.com/gavv/httpexpect#Request.WithMatcher

See example in README: https://github.com/gavv/httpexpect#reusable-matchers

[2019-04-18 16:38] #44 closed

[2019-04-19 17:14] tyranron commented on #50
[Landed](https://github.com/gavv/httpexpect/pull/51#issuecomment-484887485).

[2019-04-19 17:14] #50 closed

[2019-08-13 19:35] bernardolm commented on #15
+1 to: `obj := httpexpect.NewResponse(httpexpect.NewAssertReporter(t), response).XML().Object()`

[2019-08-16 09:23] cchung100m opened #56 "[Question] POST request WithHeaders"
Hi @gavv ,

I am a newbie to golang and learn how to leverage your project to do the RESTful API testing. I can complete the login behavior through postman, however, I turn the related fields in headers of request into the following code, I got the wired error message, I would appreciate if you can point me where should I correct my work, thanks.

[code]

Error message:
[code]

[2019-08-19 02:36] cchung100m commented on #56
Hi all,

Using WithHeaders is correct because I find the root cause is that  the return type of request is not json object but text format.

[code]

[2019-08-19 02:36] #56 closed

[2019-09-26 09:38] cyantarek opened #59 "Is there any way to name test runs with httpexpect?"
Hi,

Currently I'm doing end to end test with httpexpect. There are currently 100+ sequential url calls in the test. The problem is, when test failed, it just shows line number in the source code. If I can give name to test calls (in this case, single url request call), and httpexpect would print the name when failed or passed along side with source code line number, it would be better.

[2019-09-26 10:03] gavv commented on #59
Hi,

There is no way to do it currently.

It would be a nice addition probably. We could add `name` field to `chain` struct and a  `WithName()` setter for it to `Request` struct (request contains a chain). The chain object is propagated to all nested objects and is used to report all errors, so it should be enought to report name in `chain.fail()` and that's all I hope. Pull requests are welcome :

[2019-10-04 12:53] ianaz opened #60 "Go mod has non-....v2 module path"
Hi,

I'm using go mod for dependencies and when I retrieve the dependency with

`go get gopkg.in/gavv/httpexpect.v2`

I get the following error
[code]

This can easily be reproduced in a fresh folder. Just create a new `go mod init anyname`

Then call
`go get gopkg.in/gavv/httpexpect.v2`

**OR**

create a go.mod file with the following content
[code]

and call `go get`

[2019-10-04 12:56] ianaz commented on #60
Sorry, I noticed the .v2 path is for development only.
With `go get github.com/gavv/httpexpect everything works :)`

[2019-10-04 12:56] #60 closed

[2019-10-04 16:52] gavv commented on #60
Hi,

gopkg and go.mod are not compatible. gopkg is an ancient way to version go packages appeared before go.mod. httpexpect supports both.

If you're using go.mod, you should use `github.com/gavv/httpexpect/v2`. Otherwise, you should use `gopkg.in/gavv/httpexpect.v2`.

It appeared that the README was outdated. I've updated it: https://github.com/gavv/httpexpect#versions.

It also appeared that our

[2019-11-27 10:01] arvind-sys opened #62 "Is there a way to control the printer to print the Request Body and Response Body only on failure?"
Is there a way to control the printer to print the Request Body and Response Body only on failure?
As of now the Request and response body are printed for all the Tests. Is there a way to control it in order to print the same only when the tests fail?

[2019-12-02 18:36] gavv commented on #62
Hi. Unfortunately, there is no way to do it.

I guess it would not be easy to implement it, since currently we're printing request and response before constructing Response objects, on which the user performs assertions.

To achieve the behavior you need, we should maintain some context with both request and response and pass it to every object that may perform assertions (e.g. Value, Object, Arra

[2019-12-16 19:30] veeral-patel opened #63 "Gin example"
Hi, please consider adding an example of using `httpexpect` with `gin`: https://github.com/gin-gonic/gin!

Thanks for this great tool!

[2019-12-17 08:25] gavv commented on #63
Hi, thanks.

Unfortunately I haven't worked with gin, but pull requests are welcome :)

[2019-12-17 08:27] gavv commented on #35
See also #62.

[2019-12-20 23:04] circa10a commented on #63
@gavv
[code]

[2019-12-30 10:29] gavv commented on #63
PR is merged.

[2019-12-30 10:29] #63 closed

[2019-12-30 22:34] alexec opened #65 "Support EventSource"
We use EventSource in our codebase. I imagine supporting this would be similar to WebSocket? #50

[2019-12-31 10:32] gavv commented on #65
I guess yes. Likely it would be even simpler to implement because it's unidirectional and because chunked encoding is already working.

[2020-01-17 06:23] goku321 commented on #35
I would be happy to help!

[2020-01-17 13:42] gavv commented on #35
@goku321 Great, you're welcome!

Please also take a look at these issues: #42, #59, #62. They're related enough.

It would be nice to do refactoring with those issues in mind. We can not only add report struct, but also add context struct, and pass both of them to error formatter.

So I suggest the following:

* Introduce `Context` struct. Context is created in the root object and inherited by all

[2020-01-18 13:58] goku321 commented on #35
@gavv Thank you for the elaboration. I'll start with the issues you mentioned to get a better understanding.

[2020-01-27 21:10] sidot3291 opened #66 "Should WithHost be added?"
We're building tests for requests that perform differently based on the Host.

We were able to get the behavior we want with httpexpect via:
`WithHeader("Host", "example.com")`

I wanted to raise that maybe a `WithHost` option should be added.

I believe this would be more consistent with Go's Request struct, which (if I understand correctly) chooses the Host header based on either (1) the Host fi

[2020-01-30 10:12] gavv commented on #66
Hi!

Agree, sounds reasonable. One thing to think about is whether we should somehow handle the case when both WithHost and WithHeader("Host") are provided. Probably not.

I don't have much time for this right now. You can either submit a PR or let the issue hang for a while until I add it later.

[2020-02-12 15:51] debugtalk opened #67 "How to proxy request and response?"
Hi,

Sometimes I want to capture the request and response traffic details, in which case I need to set proxy and use Charles. In net/http, we can set the HTTP_PROXY environment variable to achieve this goal, however this does not work in httpexpect.

Is there any way we can proxy httpexpect's traffic?

Thanks.

[2020-02-26 20:11] mrosales opened #68 "Support adding middleware to finalize HTTP requests"
This request might seem a little strange, so I'll outline the use case first. I have an API that requires the requests to sign the body, and I'd like to use `httpexpect` to create one of these signed requests.

In order to do this, I need to construct a signature from the request body, http headers, full path, query string, HTTP protocol. See the [AWS Request Signing docs](https://docs.aws.amazon.

[2020-04-02 16:57] gavv commented on #48
Closing this for now.

[2020-04-02 16:57] #48 closed

[2020-04-02 18:54] gavv opened #69 "Rework error reporting and formatting"
## Problem

Currently we're missing the following features:

* the user can't register a hook that will be invoked on every performed assertion including successful ones; e.g. this could be used for goconvey integration (#143) or for other reasons;

* when an error is passed to user-defined `Reporter`, it only receives the error message, but no additional context: e.g. test name (#59), request and

[2020-04-02 18:55] gavv commented on #42
Closing this for now. I've also created #69.

[2020-04-02 18:55] #42 closed

[2020-04-02 18:56] gavv commented on #59
Closing with respect to #69.

[2020-04-02 18:56] #59 closed

[2020-04-02 18:56] gavv commented on #62
Closing with respect to #69.

[2020-04-02 18:56] #62 closed

[2020-04-02 18:56] gavv commented on #35
Closing with respect to #69.

[2020-04-02 18:56] #35 closed

[2020-04-02 18:56] gavv commented on #35
@goku321 Are you still interested? I've prepared a more detail issue (linked above).

[2020-04-02 19:08] gavv commented on #67
Hi, sorry for late reply.

You can provide a custom http client using `Config.Client` field. When constructing a client, I guess you [can set](https://stackoverflow.com/questions/14661511/setting-up-proxy-for-http-client) `Client.Transport.Proxy` to a desired proxy.

Also, if you set `Config.Client` to a http.Client with DefaultTransport, I think it should also respect HTTP_PROXY variable.

I didn

[2020-04-02 19:12] gavv commented on #68
Hi, sorry for late reply.

Yes, `WithRequestTransformer` idea looks good! I'll assign `help wanted` tag so that someone could implement it.

[2020-04-04 07:34] goku321 commented on #35
@gavv Yes, I am. But I can only start working on this from next week(if that's okay) as I am caught up with some stuff.

[2020-04-05 10:43] gavv opened #70 "Add more unit tests for WebSockets"
WebSocket support is covered with a set of [integration tests](https://github.com/gavv/httpexpect/blob/master/e2e_websocket_test.go), but only a few unit tests: [1](https://github.com/gavv/httpexpect/blob/master/websocket_test.go), [2](https://github.com/gavv/httpexpect/blob/master/websocket_message_test.go).

The test coverage is incomplete, see `websocket*` files here: https://coveralls.io/githu

[2020-04-10 19:37] goku321 commented on #69
@gavv Can you please assign this issue to me? I will start working on this. Thanks

[2020-04-16 15:36] goku321 commented on #69
Hi @gavv I will be needing your help while working on this, so please bear with me 😅 . I'll create a PR soon (and it might not be completely correct), to get your inputs. I'll make sure I complete this ASAP.

[2020-04-20 20:14] goku321 commented on #69
@gavv A question: why not pointer to `Context` and `Failure` structs for `Failure` method of `Formatter` interface?

[2020-04-21 01:02] alexec opened #72 "Document `InsecureSkipVerify`"
For testing, I'd like to enable this. It was clear how to it.

[code]

[2020-05-17 18:14] jaibhavaya commented on #70
Is this available?  If so I'd love to take a crack at it.

[2020-05-20 05:50] BharathB23 opened #74 "License not present in the imported fasthttp-contrib/websocket package"
Hello,

github.com/fasthttp-contrib/websocket package imported in this project doesn't contain a license and implicitly makes this project to come under default copyright laws which means, that the project retain all rights to the source code and no one can reproduce, distribute, or create derivative works.

Though github.com/fasthttp-contrib/websocket is forked copy of github.com/gorilla/websocke

[2020-05-28 16:17] kataras commented on #74
I have no access to the repository itself as I left from the organisation but I grant all rights to use the library to @gavv as I am the one and only contributor of that library.

[2020-06-03 08:20] gavv commented on #70
Websocket methods still not covered with unit tests:

* WriteBytesBinary
* WriteBytesText
* WriteText

[2020-06-03 08:28] gavv commented on #74
Likely, we can just switch to https://github.com/fasthttp/websocket. I'll look at it in upcoming days.

[2020-06-04 07:50] gavv commented on #74
Done. Push to master, v2, and tagged a new release v2.1.0. Also, the minimum supported Go version was bumped to Go 1.14.

[2020-06-04 08:01] gavv commented on #72
Done: https://github.com/gavv/httpexpect#tls-support

[2020-06-04 08:01] #72 closed

[2020-06-04 08:03] #74 closed

[2020-06-05 06:41] gavv commented on #69
It was just a pseudo-code. We can use pointers of course if we need to.

[2020-06-05 06:41] gavv commented on #69
What do you mean by "inside"?

[2020-06-05 06:51] gavv commented on #69
Ah, I guess you suggest to add a Failure field to Context. Well, I think that Formatter interface will be cleaner if context and failure are distinguished: Context defines where the error happened, and Failure defines what error happened. But if there are reasons why it's better to move Failure into Context, we can do it.

[2020-06-05 07:15] BharathB23 commented on #74
Gavv, Thank you for your time and efforts spent to resolve the observation reported.

[2020-06-09 19:16] goku321 commented on #69
It makes sense, @gavv . Thanks for the explanation.

[2020-06-11 01:02] colinclerk opened #76 "307 and 308 redirects are not followed"
307 and 308 redirects rely on a http.Request.GetBody function for http.Client to follow the redirect.

Golang typically sets GetBody by default in http.NewRequest:
https://github.com/golang/go/blob/2cd2ff6f564dce5be0c4fb7f06338ff7af3fc9a9/src/net/http/request.go#L872-L914

But httpexpect has a cool progressive request builder, so at the time NewRequest is called, body is actually nil (the third ar

[2020-06-12 07:41] gavv commented on #76
Thanks for reporting! I'll take a look at upcoming days.

[2020-06-17 21:22] morcoteg opened #77 "Cookies persisted across requests"
I'm noticing that in my tests, any cookies that were set previously, are leaking into other requests. The problem is that I have some requests that need the cookies to be empty.

I've worked around this by initializing a new httpexpect object in tests where I don't want any prior requests' cookies set.

The workaround:
[code]

Is there a recommended best practice for this sort of case?

[2020-06-19 03:30] djanda97 commented on #70
@gavv I don't have much experience with Go or WebSockets but I will take a shot at implementing unit tests for the remaining methods.

[2020-06-20 03:43] djanda97 commented on #70
@gavv To clarify my understanding, should the unit tests for the remaining WebSocket methods be similar to the method calls of WriteBytesBinary, WriteBytesText, and WriteText in [e2e_websocket_test.go](https://github.com/gavv/httpexpect/blob/master/e2e_websocket_test.go) but with the addition of test cases where an error would be produced?

[2020-06-20 09:31] gavv commented on #70
@djanda97 Hi, I think we should wait until #75 is merged to avoid merge conflicts (@nio6412 is working on it).

Not exactly, e2e_websocket_test.go implements integration (e2e stands for "end-to-end") tests with a real websocket connection. And here we need unit tests, which will require mocking websocket conn, which is not possible right now but likely will be implemented in #75 as suggested here:

[2020-06-20 09:35] gavv commented on #77
Hi, did you try to create a httpexpect object with `Client.Jar` set to `nil`, as described here?

https://github.com/gavv/httpexpect#session-support

This should disable cookies completely.

Or do you need to disable cookies on per-request basis?

[2020-06-20 09:36] gavv commented on #77
You can also create different http.Client instances, e.g. with and without cookie jar, and select a different client for each request using WithClient method.

[2020-06-20 11:47] morcoteg commented on #77
In this case, I need cookies disabled on a per request basis. Thank you, I'll take a look at that/try that

[2020-06-21 23:34] djanda97 commented on #70
@gavv Thank you for clarifying the distinction between e2e vs unit tests. I'll check back in once #75 is merged!

[2020-06-25 23:17] pas256 commented on #10
I know this is old so apologies, but I do not see how to use the code @EtienneBruines posted within a test. How do I modify the underlying `Client`?

[2020-06-26 06:33] EtienneBruines commented on #10
@pas256 It's been a while, so I have no idea.

But, looking at the source code of one of the tests:

https://github.com/gavv/httpexpect/blob/master/e2e_redirect_test.go#L58
[code]

It seems like you can use `WithConfig` to set it. See also [WithConfig](https://github.com/gavv/httpexpect/blob/3dd83fcd5f57a3fe3c8b2674b2ec2c3475301afa/expect.go#L298)

[2020-06-26 09:04] gavv commented on #10
Yes, you can use WithConfig or WithClient:

* https://github.com/gavv/httpexpect#custom-config
* https://github.com/gavv/httpexpect#per-request-client-or-handler

[2020-06-29 19:35] flaviostutz commented on #66
I think the latest call should override previous. For example:
[code]
'server2' should prevail

[code]
'server5' should prevail

[2020-07-24 20:50] pedromss commented on #66
Hello. I was thinking about picking this up if I understood the goal. We want to be able to do:

[code]
And have it set the `Host` header on the request.

Is that correct?

[2020-10-14 10:21] unbeatable01 commented on #70
I'd like to work on this, could you assign it to me?

[2020-10-14 10:22] unbeatable01 commented on #68
I'd like to work on this, could you assign it to me?

[2020-11-13 07:47] ernesgonzalez33 opened #83 "Doubts with usage"
Hi,

I have some questions about the usage of this framework. Some features I can't find in the docs so I'm curious if there is a way to do them:

- Is there a way to stop running some of the tests if one of them fails and maybe go to a "clean" method. I can't find a way to do an `if` around a `request` and do some action if the test fails or not.
- Related to that. Is there a way to wait for a te

[2020-11-21 00:20] Leryan opened #84 "printing body when unexpected status code"
Hi 👋

I would like to know if you would be interested in having a new `Expect().Status(x)` behavior that would print out the response body if the status is not as expected.

My motivation is that i want to write scenarios instead of unitary endpoint tests. And for that, i need to use the "Require" reporter that will stop immediately after the first error encountered, otherwise the results are comp

[2020-11-21 13:11] Leryan commented on #83
To stop a test from continuing you must instantiate like this:

[code]

[2020-11-22 14:22] jan-carreras commented on #70
Just to clarify.

1. Are you only interested in increasing the _missing_ coverage for both Unit and E2E tests?

2. The unit tests on WebSocket are lacking on assertions and the code could be changed to[1]. Would you be interested in that or do you think the current unit tests are good enough?

[1] From this code that _only_ adds coverage but does not _assert_ anything:

[code]

To this code:

[cod

[2020-12-21 11:18] gavv commented on #70
Thanks everyone, I've finally merged #75 by @nio6412 and the coverage is pretty good now.

There are still a few uncovered lines in websocket_dialer and websocket_message, but that's not critical. I'm going to close this issue, but feel free to let me know if someone would like to add a few more tests.

[2020-12-21 11:21] gavv commented on #70
@jan-carreras

Ideally unit tests should cover everything even without e2e tests, but that's not a strict requirement.

After merging the PR, we have most of the needed assertions now. Though probably something can be improved.

That specific test just checks that the methods wont panic when called on an invalid/failed object. More specific checks are now present in other tests.

[2020-12-21 11:21] #70 closed

[2020-12-21 11:29] gavv commented on #77
Closing, feel free to reopen if needed.

[2020-12-21 11:29] #77 closed

[2020-12-21 16:40] gavv commented on #66
Merged!

[2020-12-21 16:40] #66 closed

[2020-12-21 17:26] gavv commented on #68
Done!

@shreyubee We already had a PR, I've merged it.

[2020-12-21 17:26] #68 closed

[2020-12-21 17:35] gavv commented on #68
https://github.com/gavv/httpexpect#request-transformers

[2020-12-21 17:49] gavv opened #85 "Add retrying capability"
Add three new Request methods:

* WithRetry(maxRetry int)
* WithRetryDelay(minDelay, maxDelay time.Duration)
* WithRetryPolicy(RetryNetworkErrors|RetryNetworkAndServerErrors|RetryAnyErrors)

WithRetry enabled retrying. If it's not called, test fails after first round trip failure. If it's called, test will try up to maxRetry times and only then fail.

WithRetryDelay controls pauses between retries

[2020-12-21 17:51] gavv commented on #83
Hi, thanks for asking.

As already answered, using httpexpect.NewRequireReporter (or your custom reporter) is the right way to do it.

There is no way to do it out of the box. There was a PR but it was not finished: #73. I've created an issue: #85.

[2020-12-21 17:51] gavv commented on #83
Closing, feel free to reopen if you'll have any questions.

[2020-12-21 17:51] #83 closed

[2020-12-21 17:54] gavv commented on #84
Hi, I think this makes sense and actually we already have an issue for a very similar feature: #69. Will it solve your problem? The issue is still in progress though.

[2020-12-21 18:30] Leryan commented on #84
yep that looks absolutely great! :)

[2020-12-21 18:32] gavv commented on #84
Great, then closing this. I've added a link to this issue to #69.

[2020-12-21 18:32] #84 closed

[2021-01-21 23:22] hmajid2301 opened #86 "Assert Array of Objects contains key/value"
Is there an easy way to assert that an array of objects contains just a specific key.

Let's say I have an object like so:

[code]

I want to check that at least one of the `pool_name` include a specific value i.e. `my_unqiue_pool2`. In the array of `question_pools`.

[2021-01-31 06:24] ShreyanGoswami commented on #85
Hello, can I give it a try?

[2021-02-01 17:07] bmihaylov commented on #85
Hey,
taking a look at your review of the previous attempt I saw the reference to the `retryablehttp` lib.
I poked around and it turns out they introduced the ability to get their client wrapped as a standard `http.Client`.
Combining that with `httpexpect` ability to set client on a per `Request` or `Expect` instance basis there is no need to change `httpexpect` .
Here is a minimal example which wo

[2021-02-15 09:21] gavv commented on #86
Hi, I think the closest thing is using JSONPath + Array().Iter() + a loop, see this snippet for details: https://github.com/gavv/httpexpect#json-schema-and-json-path

[2021-02-15 09:34] gavv commented on #85
@bmihaylov thanks, good insight!

Since httpexpect already hides HTTP client from you by default, and since this library is mostly a convenient wrapper (on top of net.http and a few other libs), I think it may make sense to provide out of the box retry support with a few simple retry policies. If you're happy with them, you can use it; in a more complicated use case, you can inject custom http cli

[2021-02-15 09:43] hmajid2301 commented on #86
thanks

[2021-02-15 09:43] #86 closed

[2021-02-20 16:31] gavv commented on #76
Thanks again for report and sory for delay. I've added WithRedirectPolicy() and WithMaxRedirects() methods, which define how to handle redirects.

For compatibility, default policy is FollowRedirectsWithoutBody, which matches earlier behavior. However, now you can use FollowAllRedirects to allow 307 and 308 redirects. With this policy, httpexpect will automatically set GetBody.

You can also use D

[2021-02-20 16:31] #76 closed

[2021-02-20 16:47] gavv commented on #67
Added example to README: https://github.com/gavv/httpexpect#proxy-support

[2021-02-20 16:47] #67 closed

[2021-02-20 20:30] gavv commented on #85
Done.

Commit: d0e64a7daa8969b697cc5c02589d9b5965b2aec5

Example: https://github.com/gavv/httpexpect#retry-support

[2021-02-20 20:32] #85 closed

[2021-02-20 20:37] gavv opened #91 "Add unit tests for redirect and retry support"
Redirect methods (WithRedirectPolicy, WithMaxRedirects) and retry methods (WithRetryPolicy, WithMaxRetries, WithRetryDelay) are already covered with end-to-end tests (e2e_redirect_test.go, e2e_retry_test.go), but unit tests are missing.

It would be nice to add unit tests for these methods to request_test.go. In unit tests, we can use `http.Client` with custom `Transport` set to our own implementa

[2021-02-20 21:07] gavv opened #92 "Add WithContext and WithTimeout"
Currently, httpexpect never sets request context before sending it.

It would be nice to add context.Context field to Config. Request.encodeRequest should pass this context to the constructed http.Request.

It may be also useful to have per-request contexts. Thus, we should also add Request.WithContext. If called, the given context should be used instead of the one from Config.

Finally, we should

[2021-02-22 09:49] arojoal opened #93 "How to get json data testing response with content: problem+json"
How to get JSON data received when content type is "application/problem+json"?

I'm testing an app developed with Iris with this code:
`
result := e.POST("/pmslinkregister").WithJSON(map[string]string{"id": "test"}).Expect().Status(iris.StatusBadRequest).JSON()
`

And I get this error message:

`
expected "Content-Type" header with "application/json" media type,
        	            	but got "appl

[2021-02-22 19:14] gavv commented on #93
Hi,

Try to replace

[code]

with:

[code]

[2021-02-23 11:14] arojoal commented on #93
It worked. Thanks!!!!!!!

[2021-02-23 11:14] #93 closed

[2021-02-26 08:57] gopalanvinay commented on #91
@gavv could I make a PR to add these tests?

[2021-02-27 14:54] gavv commented on #91
@gopalanvinay Sure, you're welcome.

[2021-02-28 07:41] gopalanvinay commented on #91
@gavv could I be added as a collaborator? Permission to push to the repo is currently denied to my account :)

[2021-03-04 15:59] alexec opened #95 "Licence problem"
One of your dependencies is:

https://github.com/fasthttp-contrib/websocket/issues/3

This repository does not have a LICENCE, and is therefore (presumably) copyright.

I think that might invalidate your MIT licence.

I am not a lawyer obviously.

As they have been unresponsive to the request for a LICENCE, you can probably sidestep this issue and replace them with the library they forked.

https:

[2021-03-04 21:29] gavv commented on #95
Hi!

Actually, I though I already fixed this: #74.

Why do you think `fasthttp-contrib/websocket` is still a dependency?

I searched for it and found one occurrence:

[code]

It seems it's there because `_examples` depend on `iris/v12`, and it in turn depends on `httpexpect/v2.0.0` (older release before #74), and it depends on `fasthttp-contrib/websocket`. Funny enough :)

That's not a "real" depe

[2021-03-04 21:34] alexec commented on #95
[code]

[2021-03-04 21:37] alexec commented on #95
Looks like we need an upgrade:
[code]

[2021-03-04 21:37] gavv commented on #95
Ah, so it seems you're using an older release (v2.0.3). The dependency was removed in v2.1.0. The latest release is v2.2.0.

[2021-03-04 21:37] #95 closed

[2021-03-06 09:45] frederikhors opened #96 "GraphQL?"
Is there a comfortable way to test GraphQL endpoints?

[2021-03-06 10:26] gavv commented on #96
Hi, not at all. Only regular http requests and assertions for http header and json body are available currently, plus websocket support.

[2021-03-06 11:01] frederikhors commented on #96
Do you think there might be in the future?

[2021-03-07 12:25] gavv commented on #96
Personally I don't have any plans on that. However probably this would be an eligible feature. I guess we could implement an alternative request builder for graphql and reuse existing payload matches.

[2021-03-21 20:00] gtourkas commented on #92
#97

[2021-03-30 15:23] gavv commented on #92
Merged!

[2021-03-30 15:23] #92 closed

[2021-04-04 09:19] Leryan commented on #69
@gavv about not breaking the public API, i think there is a problem with the `NewNumber` `NewObject` (and so on…) constructors: since we need to pass the context instead, that will break any code that relies on those functions.

Do you consider this to be part of the public API, or by public API you mean only the `Expect` struct?

[2021-04-04 10:31] Leryan commented on #69
I think that the Formatted should only be called by a Reporter, as it passes the message to the backend, knowing when to call (with current implementation of Formatter) the different functions of a Formatter, with a Failure struct.

However that means reworking a lot of API, surely breaking some of the public ones.

The Expect struct implem should not change though.

[2021-04-04 12:41] Leryan commented on #69
See comment https://github.com/gavv/httpexpect/pull/98#issuecomment-813026402

[2021-04-06 16:22] sylvain-p85 opened #99 "Wrong module checksum"
Httpexpect requires module `github.com/fasthttp/websocket v1.4.2`. But the version 1.4.2 has been re-uploaded by its author. This has introduced some failures while using httpexpect:

[code]

Is it possible for you to release a new version with the last `github.com/fasthttp/websocket` version ? Thx.

[2021-04-08 04:19] gtourkas commented on #96
@gavv May i pick this up ?  I'll start with submitting a short design proposal on the request builder.

[2021-05-19 13:48] sylvain-p85 commented on #99
May I have a reply plz ? This error is quite annoying.

[2021-05-19 15:04] gavv commented on #99
Hi, sorry for late reply.

Strangely I can't reproduce it. Neither after cleaning all caches, nor in a fresh environment in docker.

Anyway, I've bumped fasthttp/websocket to 1.4.3 and pushed this to master and v2. Also tagged a new release v2.3.0.

[2021-05-20 23:38] FlorianLoch commented on #99
I also ran into this, but only in CI. So therefore I am quite sure it's caused by intermediate go proxies like Athens that recognize the version (because it's in their cache) but are not happy with the checksum.

But good to see it's fixed now 💪

[2021-05-27 08:26] bykof commented on #99
I get an error installing httpexpect:
[code]

looks like fasthttp/websocket doesn't have a git tag `v1.4.3`: https://github.com/fasthttp/websocket/tags

[2021-06-25 12:48] gavv commented on #99
Sorry for delay. So they removed the tag again... I'll take a look.

[2021-06-25 14:25] gavv commented on #99
Should be fixed in `master`, `v2`, and `v2.3.1`.

[2021-07-11 05:54] lhaig opened #101 "Some Advice using httpexpect with gofiber"
Thanks for a great project.
I am looking at using httpexpect to test my [gofiber](https://github.com/gofiber) app with httpexpect as I really like the simplicity of your project.

gofiber have some examples around testing using the standard library and expect [here](https://github.com/gofiber/recipes/blob/master/unit-test/main_test.go) I would rather use your library for this as it provides a much

[2021-07-11 11:32] lhaig commented on #101
I found the issue.

[code]

Should be

[code]

[2021-07-11 11:32] #101 closed

[2021-07-20 06:52] #99 closed

[2021-07-20 06:54] gavv commented on #101
Thanks for sharing!

[2021-07-28 19:05] soggycactus commented on #65
Hey @gavv I'm looking for some OSS work - would it be cool if I picked this up? (Assuming it hasn't been done already)

[2021-07-28 19:27] gavv commented on #65
@soggycactus hi, you're welcome! It's not done yet.

[2021-08-15 04:53] gtourkas commented on #96
@gavv I've looked into this a bit.

We could use https://github.com/shurcooL/graphql, that will provide with the means of typed graphql queries and mutations in the form of go structs. An example of a query with constant arguments:

[code]

In addition, we could provide with a `WithGraphQLQuery`, a `WithGraphQLMutation` and a chained `WithVariables`, should there be variable arguments. An example

[2021-08-18 09:12] gavv commented on #91
@123vivekr Hi! Yes, there is unmerged PR with unresolved issues, see #94. Feel free to pick up the task.

[2021-08-21 10:39] 123vivekr commented on #91
I'm a beginner in Golang. I'll give this a try and submit a PR for review soon.

[2021-08-31 10:58] gtourkas commented on #96
@gavv Did you have the chance to look into my suggestion above ?

[2021-10-30 07:32] EstebanJesus opened #103 "Some tests fail in os windows"
When cloning the project on a windows OS and running the tests I get some failures, it is related to the creation of temporary files.

[2022-01-07 13:35] Bios-Marcel opened #104 "Reusing a request object"
Hey,

I was wondering whether it's possible to reuse a `*Request` or furthermore reset it.

My usecase is trying to test whether calling the same request again results in an error.
Maybe my thinking here is wrong, is there an idiomatic httpexpect way of doing this?

**EDIT**

I guess I can wrap the request into a local function which I can call multiple times. But I was wondering anyways why calli

[2022-01-19 16:33] kaustubhmallik commented on #91
Hi @gavv is it still open? If so, I would like to pick it up. :)

[2022-01-19 16:36] 123vivekr commented on #91
@kaustubhmallik Feel free to take it up.

[2022-04-09 00:52] ihassanyousaf opened #109 "Set multiple status as success criteria"
Hi,

Is there anyway to set multiple statuses as success criteria.
e-g 200 and 404 as success criteria?

The usecase is like deleting something from API let's just say a project,  api will return 2xx in case the project existed and deleted and 404 in case the project didn't exist.

both case are considered as success as the main idea is not to have a project in the system.

Is there anyway of doin

[2022-05-10 08:25] snowlyg opened #111 "Add a key to the fail message report"
#### What am I using?

- Web framework: Gin
- Ide: vscode

#### Go version
go 1.16+

#### Repositorie
[https://github.com/snowlyg/iris-admin](https://github.com/snowlyg/iris-admin)

When I use [https://github.com/snowlyg/httptest](https://github.com/snowlyg/httptest) to test  HTTP API and the HTTP response object or array data, I can't know the fail is which key.

[code]
![image](https://user-imag

[2022-05-14 16:23] ahdekkers commented on #109
I'd be happy to work on this if help is desired

[2022-05-19 08:16] huyinghuan opened #113 "[help] how to test cors rule ?"
i test online example:

[code]

now i want to test my cors rule,  just like invoke api "https://api.mydomain.com/api/info"  in "https://www.mydomain.com" domain

how can i write the test unit? Thanks for your help.

[2022-05-22 12:40] gavv commented on #113
Hi! If you're asking how to change domain for specific request, take a look at this example: https://github.com/gavv/httpexpect#subdomains-and-per-request-url

[2022-06-16 03:11] EstebanJesus commented on #103
Great, with the version you created it works perfect for me.

[2022-06-16 03:11] #103 closed

[2022-07-06 10:38] yilmaz-burak opened #117 "Request Builder - Built Request Affected By Initial Request"
Hi,
I have a function initializing the requests
[code]

This works as expected.

When I run the requests in the following form, they behave as expected:
[code]
Giving the correct status 200.

However, for the following case:
[code]

Works as expected for the first request but doesn't for the second. It is as if I am calling the `managementReq`, instead of `managementAuth` one. Gives the same exact

[2022-07-18 06:41] ratanphayade opened #119 "random context canceled error while reading the response body"
Hello, I'm using this package for e2e test runs on staging environment and I'm randomly getting `context canceled` error when I try running the below code.

[code]

Sample result:
[code]

Looking further into it, the error originated in the below line: https://github.com/gavv/httpexpect/blob/3894d81aa3bea64af6946448d76c3b0afe8b6df7/response.go#L105

So while digging deeper found that
https://githu

[2022-07-18 06:45] ratanphayade commented on #119
I did not observe any failures when commenting below line https://github.com/gavv/httpexpect/blob/3894d81aa3bea64af6946448d76c3b0afe8b6df7/request.go#L1339

[2022-10-04 13:19] #104 closed

[2022-10-26 09:10] I065450 opened #121 "Security vulnerability in http2curl"
Hello,

We are using your library for testing.

Your library is using old version of http2curl which contain security vulnerability.
The latest version of http2curl don't have this security issue,

We would appreciate if  update your dependency.

Thanks,
Naama

[2022-11-12 20:13] gavv commented on #121
Hi, thanks for report. Bumped http2curl to v2.3.0.

[2022-11-12 20:13] #121 closed

[2022-11-12 20:14] #113 closed

[2022-11-13 08:24] gavv commented on #91
Hi, the issue is still open. See also discussion in #94.

[2022-11-13 08:28] gavv commented on #109
Hi, sure, this is a valid feature, pull requests are welcome.

We already have methods `Status` and `StatusRange`, we could add a new method `StatusList` that accepts a list of statuses as variadic argument.

[2022-11-13 10:34] gavv commented on #117
Hi,

I think I found the bug you're experiencing - builders slice was not copied deeply, and in some cases modifications to the copy could affect the original.

I've added a test and a fix, pushed to master. Could you check it out?

[2022-11-14 08:44] gavv commented on #119
Hi, thanks for detailed report!

I was able to reliably reproduce the issue and after digging into it, found out that there are several related bugs:

* when response has large body, and timeout is enabled, cancel is called before reading the body
* request and response bodies are not explicitly closed after reading
* if printer reads request or response body, it causes problems

I was able to cre

[2022-11-14 10:40] gavv commented on #119
Tagged v2.4.0 with this fix included.

[2022-11-14 10:40] gavv commented on #117
Tagged v2.4.0 with this fix included.

[2022-11-15 21:56] gavv commented on #117
Added one more fix and tagged v2.4.1

[2022-11-19 20:18] gavv commented on #111
Keys are now included in failure report, see https://github.com/gavv/httpexpect/pull/110#issuecomment-1320961360

[2022-11-19 20:19] gavv commented on #69
This is finally landed in #150. I'll update README soon.

[2022-11-21 03:26] #111 closed

[2022-11-21 13:25] gavv commented on #69
See two new sections in README:

* https://github.com/gavv/httpexpect#customize-failure-formatting
* https://github.com/gavv/httpexpect#customize-assertion-handling

Closing this. I'll create separated issues for further improvements.

[2022-11-21 13:25] #69 closed

[2022-11-21 13:37] gavv commented on #69
Tagged v2.5.0 with this feature

[2022-11-21 17:43] gavv commented on #119
Closing this for now, but feel free to reopen if you'll find any problems.

[2022-11-21 17:43] #119 closed

[2022-11-21 17:43] #117 closed

[2022-11-23 15:35] gavv opened #153 "Implement String.HasPrefix and String.HasSuffix"
Implement new `String` assertions:

* `String.HasPrefix` - succeeds if string has given prefix
* `String.HasSuffix` - succeeds if string has given suffix
* `String.HasPrefixFold` - succeeds if string has given prefix, case insensitive
* `String.HasSuffixFold` - succeeds if string has given suffix, case insensitive

For every assertion, also add negative version (`NotHasPrefix`, `NotHasSuffix`, etc

[2022-11-23 15:37] gavv opened #154 "Implement String.IsAscii"
Implement new assertion `String.IsAscii`, which succeeds if all string characters are ASCII.

Also add counterpart `String.NotIsAscii`.

Failure message for `IsAscii` should contains character that does not belong to ASCII.

Assertions should have documentation comment with example and be covered by unit tests.

See also #153.

[2022-11-23 15:43] gavv opened #155 "Implement Number IsInt, IsUint, IsFloat, IsNan"
Implement new `Number` assertions:

* `IsInt` - succeeds if number is signed or unsigned integer (does not have fractional part)
* `IsUint` - succeeds if number is unsigned integer (does not have fractional part and is >= 0)
* `IsFloat` - succeeds if number is not integer (have fractional part, is opposite to `IsInt`)
* `IsNan` - succeeds if number is NaN

Each of them, except `IsNan`, should have

[2022-11-23 16:06] gavv opened #156 "Implement Number.InDeltaRelative"
Implement new `Number` assertion `InDeltaRelative` (and counterpart `NotInDeltaRelative`).

It should work similar to `InDelta`, however `delta` parameter is treated as relative to value, instead of absolute error.

For example, if `delta` is `0.01`, it means that values should not differ by more than `1%`.

This is similar to `InDelta` vs `InEpsilon` in testify.

Assertions should have documentat

[2022-11-23 16:09] gavv opened #157 "Implement Array.ContainsAny"
We already have `Array.Contains` and `Array.ContainsOnly`.

It would be handy to have `ContainsAny`, which succeeds if array contains any of the specified elements.

We also need the counterpart `NotContainsAny`.

Assertions should have documentation comment with example and be covered by unit tests.

[2022-11-23 16:22] gavv opened #158 "Implement Array.IsOrdered"
Implement new assertion `Array.IsOrdered`, which succeeds if array elements are sorted. Also add counterpart `NotIsOrdered`.

It should have optional argument `less func(index int, value *Value)`, which defines the function to compare elements (like in sort.Slice):

* If function is provided, `IsOrdered` can compare arbitrary arrays.

* If function is not provided, `IsOrdered` should use builtin c

[2022-11-23 17:03] gavv opened #159 "Add DefaultFormatter.EnableRequests and EnableResponses"
Add two flags `EnableRequests` and `EnableResponses` to `DefaultFormatter`, which enable printing `http.Request` and `http.Response` on failure. New flags should be disabled by default.

Request and response instances are already present in `AssertionContext` passed to formatter. Formatted request and response should be added to `FormatData` and used in failure template. Formatting can be done usi

[2022-11-23 17:07] gavv opened #160 "Add DefaultFormatter.EnableStacktrace"
Add flag `EnableStacktrace` to `DefaultFormatter` that enables printing of stacktrace on failure. Formatted stacktrace should be added to `FormatData` (likely as slice of strings) and used in failure template.

See also #159.

[2022-11-23 17:21] gavv opened #161 "Support colored output"
Modify DefaultFormatter to support colorized output.

It should provide three color modes, controlled by an option:

* auto (used by default) - enable colors if testing.Verbose() is true and stdout is a tty / console
* always - always use colors
* never - never use colors

Color support should work for both unix and windows.

Colors should be injected into failure template using template functions

[2022-11-23 17:26] gavv opened #162 "Improve usage checks in Request and Websocket"
`Request` and `Websocket` have the following workflow:

* create instance
* likely, call `WithXXX()` methods multiple times
* call `Expect()` method

It is not allowed to call `WithXXX()` after `Expect()` is called. It is also not allowed to call `Expect()` more than once. However, these requirements are not documented and checked.

What we should do:

* Document these requirements in comment for

[2022-11-23 17:34] gavv opened #163 "Sleep with context"
In `request.go`, when we retry request, we issue delay using `time.Sleep`.

It means that when we're sleeping, we ignore `context.Context`, if it's present. If context is cancelled, sleep wont be interrupted immediately, which is not desired.

If `r.config.Context` is not nil (it comes from Config or WithContext), we instead should listen for context cancellation and interrupt from sleep if needed

[2022-11-23 17:40] gavv opened #164 "Improve test coverage of Request methods"
Add unit tests to improve coverage of request.go
No need to cover panics, but we should cover all assertions
https://coveralls.io/builds/54507988/source?filename=request.go

[2022-11-23 17:48] gavv opened #165 "Add more tests for report formatting"
Currently we have only one such test: TestE2EReportNames. It checks that test and request names are included into formatted report.

It would be useful to add more similar tests and check that some other elements from AssertionContext and AssertionFailure are included into the report: Path, Errors, Actual / Expected / Reference / Delta values (of a few different types, including AssertionRange and

[2022-11-23 21:19] gavv opened #166 "Implement Array.Every and Object.Every"
Add new methods to Array and Object that allow to run function for every element:

[code]

[code]

New methods should have documentation comment with example and be covered by unit tests.

When array or object is constructing value to be passed to function, it should clone chain and append new path entry to it, like it is implemented in `Array.Iter()`, something like this:

[code]

See also #168,

[2022-11-23 21:24] gavv opened #167 "Implement Object.Iter"
Implement method similar to `Array.Iter()`, but for Object:

[code]

Method should have documentation comment with example and be covered by unit tests.

[2022-11-24 08:50] gavv opened #168 "Implement Find and FindAll"
Add new methods to Array and Object that allow to find element(s) by predicate:

[code]

[code]

All new methods should have documentation comment with example and be covered by unit tests.

Description:

* Find returns first matched element, or fails and returns empty (non-nil) value if element was not found
* NotFind succeeds if no element matched predicate and fails if there is a match
* FindAl

[2022-11-24 08:56] gavv opened #169 "Implement Array.Filter and Object.Filter"
Add new methods to Array and Object that allow to filter element(s) by predicate:

[code]

[code]

New methods should have documentation comment with example and be covered by unit tests.

Description:

* Array.Filter returns new Array with only those elements from original array which match predicate
* Object.Filter is similar, but with map instead of array

Predicate is considered to succeed if

[2022-11-24 09:24] gavv opened #170 "Implement DateTime getters"
Add new methods to DateTime struct:

* Zone - returns String with timezone name obtained from time.Time.Zone()
* Year - returns Number with time.Time.Year()
* Month - returns Number with time.Time.Month()
* Day - returns Number with time.Time.Day()
* WeekDay - returns Number with time.Time.Weekday()
* YearDay - returns Number with time.Time.YearDay()
* Hour - returns Number with time.Time.Hour()
*

[2022-11-24 11:16] gavv opened #171 "Add support for aliases"
httpexpect is able to print assertion chain path on failure. For example, when you write:

[code]

and assertion fails, you will see:

[code]

Often it is convenient to create variables when making assertions:

[code]

In this case, it would be nice if variables names were reflected in the failure message.

This issue suggest to implement support for **aliases**, which will work like this:

[code]

[2022-11-24 11:47] u5surf commented on #170
@gavv Hi, I'd like to work on this issue.

[2022-11-24 11:51] gavv commented on #170
@u5surf Hi, you're welcome!

[2022-11-24 16:11] ni3k commented on #157
Hi @gavv can I work on this issue? I think I could come up with a PR today

[2022-11-24 16:15] gavv commented on #157
@ni3k Great, you're welcome, thanks!

[2022-11-25 08:20] gavv commented on #157
Landed.

[2022-11-25 08:20] #157 closed

[2022-11-26 11:33] pantafive opened #174 "Unexpected side effect of httpexpect to stdlib client retry policy"
After we make a request with httpexpect, http.DefaultClient starts to retry requests on fails which is unexpected behavior.
Can you please explain why it happens and how to avoid this behavior?

[code]

[2022-11-26 12:55] gavv commented on #174
Hi, interesting question. I don't know the answer, but here is what I can tell:

1. It's not specific to httpexpect at all
2. Hijack it first request makes the last request failing.
3. http.Transport performs the retry.

Here is a test without httpexpect that reproduces your problem:

[code]

Here is the output:

[code]

See that `----- HERE -----` line? I inserted that message into [this block](h

[2022-11-26 18:32] angshumanHalder commented on #166
Hey @gavv I would like to take up this issue if that's okay.

[2022-11-26 18:32] gavv commented on #166
Sure, you're welcome! Thanks.

[2022-11-26 23:40] pantafive commented on #174
**Disabling KeepAlives** solve the problem. @gavv ,  thank you so much for pointing me in the right direction.

[code]

[2022-11-26 23:40] #174 closed

[2022-11-28 13:51] vtech6 commented on #169
Hi, I would like to help with this issue :)

[2022-11-28 14:24] gavv commented on #169
@vtech6 Sure, you're welcome, thanks.

See this discussion: https://github.com/gavv/httpexpect/pull/176#discussion_r1033368911 Likely, the new chain.replace() method will be needed for Filter() as well.

Other discussions in #176 may be helpful too.

[2022-11-28 14:31] gavv commented on #166
Merged.

[2022-11-28 14:31] #166 closed

[2022-11-28 19:04] angshumanHalder opened #177 "Implement Array.Transform and Object.Transform"
Add new methods to Array and Object that allow to run function for every element:

[code]

[code]
New methods should have documentation comment with example and be covered by unit tests.

When array or object is constructing value to be passed to function, it should clone chain and append new path entry to it.

[code]
Upon returning error or nil from the passed function Transform would use the ori

[2022-11-28 19:05] angshumanHalder commented on #177
Hey @gavv can you assign this one to I just created it. I don't think I have the permission to assign it to myself. 😅

[2022-11-29 00:04] neverbeenthisweeb commented on #91
@gavv hi, for testing the `WithRetryDelay` wdyt if we do `time.Sleep` in the unit test? then assert if the sleep time is as expected

or you might have concerns about this?

my concern is that by doing sleep, the unit test will be slower by some miliseconds (approximately, because we sleep)

[2022-11-29 08:39] gavv commented on #91
I think short sleeps, maybe below 10-20 ms per test, are OK.

[2022-11-29 08:41] gavv commented on #177
BTW I think there is no need to return error from callback function. If it wants to fail, it can use testing suite to do so (t.Fail, or testify).

[2022-11-29 09:08] vtech6 commented on #169
@gavv I opened a [pull request](https://github.com/gavv/httpexpect/pull/178), let me know if I you have any suggestions.

[2022-11-29 10:58] gavv commented on #177
I think, if callback returned nil, Transform should fail and return empty array/object. It should be so no matter if we return error or not.

And for error, since httpexpect is used in tests, and tests are already capable of reporting errors (using e.g. t.Errorf or testify assertions), then there is no need to introduce additional way to report them.

I mean, this:

[code]

seems a bit more natura

[2022-11-29 10:59] gavv commented on #177
BTW, instead of `httpexpect.NewValue()` and friends, user will most likely use `Expect.Value()` and friends, because it will return value with the same config. Note that the latter does not return error.

[2022-11-29 11:08] angshumanHalder commented on #177
Makes sense. Let the function fail immediately upon returning nil leave it upto the user how to handle it.

[2022-11-29 11:10] angshumanHalder commented on #177
Could you please explain what exactly you mean by `httpexpect.NewValue()` and friends?

[2022-11-29 11:13] gavv commented on #177
I mean, there are two ways to construct values:

* standalone functions: httpexpect.NewArray, httpexpect.NewObject, httpexpect.NewValue, etc (you used them in your examples); they return struct + error

* Expect methods: Expect.Array, Expect.Object, Expect.Value, etc. they don't return error; they are more convenient if you already have Expect instance because the returned values will use the same

[2022-11-29 11:15] angshumanHalder commented on #177
Ahh okay. I got confused by the "friends" part. 😅

[2022-11-29 15:17] neverbeenthisweeb commented on #91
got it, will keep the sleep around that

[2022-11-30 13:13] mmatczuk opened #181 "WithRetryPolicy(httpexpect.DontRetry) does not work with WebSockets"
WebSockets do get retried even if `WithRetryPolicy(httpexpect.DontRetry)` is explicitly set.
Version `github.com/gavv/httpexpect/v2 v2.6.1`.

To reproduce:
- Set a deadline to WS connection
- Set WithRetryPolicy(httpexpect.DontRetry) on a request
- Run a WS test that exceeds the deadline

You can observe the errors are logged but the test happily goes on.

[code]

[2022-11-30 13:37] gavv commented on #181
Hi, thanks for report.

Could you please show the test that reproduces it? And if possible could you show which operation in the source code of the test triggered deadline and was retried?

[2022-11-30 13:49] mmatczuk commented on #181
Sure the test can be found [here](https://github.com/saucelabs/forwarder/blob/25ff36a4661c77566316f3595822ad38ebc5fe17/e2e/e2e_test.go#L92). The server code is [here](https://github.com/saucelabs/forwarder/blob/25ff36a4661c77566316f3595822ad38ebc5fe17/httpbin/ws.go#L10).

What's unusual it that the traffic goes through a proxy and the proxy sets a 5s t/o (deadline now+5s).
The same can be obtained

[2022-11-30 14:15] gavv commented on #181
Thanks.

Sorry for stupid question, but could you point me where exactly do you observe a retry?

From what I see you're using [testing.T](https://github.com/saucelabs/forwarder/blob/25ff36a4661c77566316f3595822ad38ebc5fe17/e2e/framework.go#L96) as Reporter, so failures are non-fatal (httpexpect will use t.Errorf), i.e. after failure test will continue, but will be marked as failed. And you contin

[2022-11-30 14:34] mmatczuk commented on #181
Thanks for the detailed description. I double checked and indeed there is no retry. I was fooled by "websocket marks itself as failed, and further calls to WriteText() from loop become no-op".